* {
  margin: o;

  padding: o;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
}

img {
  width: 100%;
}

.noStyleLink {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

.noStyleLink:hover {
  text-decoration: none;
  color: rgb(55, 55, 55);
}

.heroh1 {
  font-size: 56px;
}

.footer {
  padding-top: 32px;
  background: #3cb632;
  color: white;
}

.footer a {
  color: white;
  margin-right: 8px;
}
.footer a:hover {
  color: white;
}

.heroh1special {
  color: white;
  font-weight: bold;
}

.statusToast {
  position: fixed !important;
  top: 64px !important;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 999999;
  width: 256px;
  text-align: center;
}

.statusToast p {
  text-align: center;
}
.hero {
  background: linear-gradient(rgba(21, 21, 21, 0.4), rgba(21, 21, 21, 0.4)),
    url("./imgs/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.fa-trash {
  color: rgb(84, 84, 84);
}

.fa-trash:hover {
  color: rgb(57, 56, 56);
}
