* {
  margin: o;

  padding: o;
}

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
}

img {
  width: 100%;
}

.noStyleLink {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

.noStyleLink:hover {
  text-decoration: none;
  color: rgb(55, 55, 55);
}

.heroh1 {
  font-size: 56px;
}

.footer {
  padding-top: 32px;
  background: #3cb632;
  color: white;
}

.footer a {
  color: white;
  margin-right: 8px;
}
.footer a:hover {
  color: white;
}

.heroh1special {
  color: white;
  font-weight: bold;
}
